.header {
  background-color: #282c34;

  .buttonContainer {
    text-align: center;

    button {
      white-space: nowrap;
      //width: 100px;
      display: inline-block;
      margin: 10px !important;
    }
  }
}
